<h3>Consultas</h3>
<button type="button" class="btn btn-primary" (click)="onNovaConsulta()">Nova</button>{{' '}}
<button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
<p></p>
<table class="table table-hover" *ngIf="consultas$ | async as consultas; else loading">
  <thead>
    <tr>
      <th>#</th>
      <th>Paciente</th>
      <th>Dt Consulta</th>
      <th>Diagnostico</th>
      <th>Exames</th>
      <th>Retorno</th>
      <th>Conduta</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let consulta of consultas">
      <td>{{ consulta.id }}</td>
      <td>{{ consulta.paciente.nome }}</td>
      <td>{{ consulta.dtConsulta | date: 'dd/MM/yyyy'}}</td>
      <td>{{ consulta.diagnostico }}</td>
      <td>{{ consulta.exames }}</td>
      <td>{{ consulta.retorno }}</td>
      <td>{{ consulta.conduta }}</td>
      <td>
        <span class="float-right">
          <button class="btn btn-warning btn-sm" (click)="onDetalhe(consulta.id)">
            Detalhe
          </button>
          {{ ' ' }}
          <button class="btn btn-danger btn-sm" (click)="onDelete(consulta)">
              Remover
            </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #loading>
  <span>Carregando Consultas...</span>
</ng-template>    