<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Paciente
        <small>Detalhe</small>
    </h1>      
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="box box-primary">            
        <div class="box-body">                               
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-default" (click)="onNew()"><i class="fa fa-file-o" aria-hidden="true"></i> Novo</button>    
                <button class="btn btn-default" (click)="onEdit(paciente.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</button>
                <button class="btn btn-default" (click)="onDelete(paciente)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover</button>
                <button class="btn btn-default" (click)="onCancel()"><i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
            </div>
            <p></p>

            <table class="table" style="max-width:500px;">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ paciente.id }}</td>
                    </tr>
                    <tr>
                        <th>Nome</th>
                        <td>{{ paciente.nome }}</td>
                    </tr>
                    <tr>
                        <th>Sexo</th>
                        <td>{{ paciente.sexo }}</td>
                    </tr>
                    <tr>
                        <th>Dt Nasc</th>
                        <td>{{ paciente.dtNascimento | date: 'dd/MM/yyyy' }}</td>
                    </tr>
                    <tr>
                        <th>Prontuario</th>
                        <td>{{ paciente.prontuario }}</td>
                    </tr>
                    <tr>
                        <th>Convenio</th>
                        <td>{{ paciente.convenio }}</td>
                    </tr>                    
                </tbody>
            </table>            
        </div>
    </div>    
    <router-outlet></router-outlet>
</section>
