<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">  
        <li class="header">Menu</li>        
        <li><a [routerLink]="['/consultorio/home']"><i class="fa fa-home"></i> <span>Home</span></a></li>                        
        <hr style="margin:1px" />               
        <li><a [routerLink]="['/consultorio/paciente']"><i class="fa fa-circle-o"></i> <span>Pacientes</span></a></li>                        
        <li><a [routerLink]="['/consultorio/consulta']"><i class="fa fa-circle-o"></i> <span>Consultas</span></a></li>                        
        <!--
        <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Pacientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li><a [routerLink]="['/paciente/']"><i class="fa fa-circle-o"></i>Lista</a></li>
            <li><a [routerLink]="['/paciente/novo']"><i class="fa fa-circle-o"></i>Adiciona</a></li>
          </ul>
        </li>        
        <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Consultas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li><a [routerLink]="['/consulta']"><i class="fa fa-circle-o"></i>Lista</a></li>
            <li><a [routerLink]="['/consulta/novo']"><i class="fa fa-circle-o"></i>Adiciona</a></li>
          </ul>
        </li>                -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>